:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  --red-error: hsl(0, 100%, 66%);

  --text-base: 1.8rem;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  line-height: 1;
}

.mb-1 {
  margin-bottom: 1.6rem;
}

.mb-7 {
  margin-bottom: 3.2rem;
}
